@use '../abstracts/' as *;

.card {
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;
    padding: $card-padding;
    background-color: $clr-white;
}
.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}