$bg-body: #F5EEFC;

$clr-white: #fff;

$clr-purple-200: #7E39C7;

$clr-purple-500: #4E2579;
$clr-purple-700: #2D3250;

$clr-black-900: #0000;

$clr-gray-200: #A8BACA;


$red: red;
$green: green;

$danger: $red;
$sucess:$green;
$clr-primary:$clr-purple-200;