@use 'size.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$ff-popins: 'Poppins', 'sans';
$ff-base: $ff-popins;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;


$font-weight-default: $fw-400;
$font-weight-bold: $fw-700;

h1, .h1 {
    font-weight: $font-weight-bold;
    font-size: $size-9; //32px
}

h2, .h2 {
    font-weight: $font-weight-default;
    font-size: $size-5;
}
.bold {
    font-weight: $font-weight-bold;
}